<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 회원정보 처리 SQL -->
<mapper namespace="com.androidserver.www.dao.MemberMapper">

	<!-- 회원 정보 저장 -->
	<insert id="insertMember" parameterType="member">
		insert into member (
			num
			,name
			,phone
		)
		values (
			#{num}
			, #{name}
			, #{phone}
		)
	</insert>
	
	<select id="selectMember" resultType="member">
		select
			num
			,name
			,phone
		from
			member
		order by
			num
	</select>	

</mapper>
