<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 회원정보 처리 SQL -->
<mapper namespace="com.scmaster.web3.dao.UserMapper">

	<!-- 회원 조회 -->
	<select id="selectMemberOne" parameterType="String" resultType="User">
		select
			id
			, password
			, name
		from
			memberTable
		where
			id = #{id}
	</select>
	
	
	
</mapper>
