<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 회원정보 처리 SQL -->
<mapper namespace="com.calendar.www.dao.CalendarMapper">

	<!-- 캘린더 일정 저장 -->
	<insert id="insertCalendar" parameterType="calendar">
		insert into calendar (
			calendarno
			,day
			,title
			,address
			,detail
			,setTime
		)
		values (
			calendarno_seq.nextval
			,#{day}
			, #{title}
			, #{address}
			, #{detail}
			, #{setTime}
		)
	</insert>
	
	<select id="selectCalendar" resultType="calendar" parameterType="string">
		select
			calendarno
			,day
			,title
			,address
			,detail
			,setTime
		from
			calendar
		where
			day = #{day}
	</select>	
	<delete id="deleteCalendar" parameterType="calendar">
		delete from calendar
		where day = #{day} and calendarno = #{calendarno}
	</delete>
	
	<update id="updateCalendar"  parameterType="calendar" >
		update 
			calendar
		set
			title = #{title} 
			, setTime = #{setTime}
			, address = #{address}
			, detail = #{detail}
		where 
			day = #{day} 
		and 
			calendarno = #{calendarno}
	</update>
</mapper>
